<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial "partials/slider" %>
    <iframe src="<%= data.forms.find{ |f| f.name == current_page.data.form }.link %>&hl=es" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <%= partial 'partials/botones' %>
    <%= yield %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
